* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  min-height: 100vh;
  background: #6f1e51;
  background: -moz-linear-gradient(top, #6f1e51 0%, #5758bb 40%, #5758bb 47%, #5758bb 57%, #37348c 80%, #1b1464 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #6f1e51), color-stop(40%, #5758bb), color-stop(47%, #5758bb), color-stop(57%, #5758bb), color-stop(80%, #37348c), color-stop(100%, #1b1464));
  background: -webkit-linear-gradient(top, #6f1e51 0%, #5758bb 40%, #5758bb 47%, #5758bb 57%, #37348c 80%, #1b1464 100%);
  background: -o-linear-gradient(top, #6f1e51 0%, #5758bb 40%, #5758bb 47%, #5758bb 57%, #37348c 80%, #1b1464 100%);
  background: -ms-linear-gradient(top, #6f1e51 0%, #5758bb 40%, #5758bb 47%, #5758bb 57%, #37348c 80%, #1b1464 100%);
  background: linear-gradient(to bottom, #6f1e51 0%, #5758bb 40%, #5758bb 47%, #5758bb 57%, #37348c 80%, #1b1464 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f1e51', endColorstr='#1b1464', GradientType=0 );
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: 0;
  left: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.menu {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }
  .menu li {
    padding: 5px;
    text-align: center; }
    .menu li a {
      font-size: 20px;
      color: white;
      transition: all .8s ease; }
      .menu li a span {
        display: none; }
    .menu li.menu-selected a {
      color: #6f1e51; }
    .menu li:hover a {
      color: #6f1e51; }

.modo-recomendado {
  border: 2px solid #ED4C67;
  border-radius: 40px;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
  display: flex;
  flex-direction: row; }
  .modo-recomendado .reto {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px; }
    .modo-recomendado .reto .titulo-reto {
      color: white;
      margin-bottom: 15px;
      text-transform: uppercase; }
    .modo-recomendado .reto .fecha-reto {
      text-align: left;
      font-weight: 100;
      font-size: 18px;
      color: #f4f4f4; }
    .modo-recomendado .reto .iniciar-reto {
      display: block;
      color: white;
      padding: 5px;
      text-transform: uppercase;
      transition: all .8s ease; }
      .modo-recomendado .reto .iniciar-reto:hover {
        border-radius: 5px;
        transform: scale(1.05); }
    .modo-recomendado .reto.reto-diario {
      border-right: 2px solid #ED4C67;
      background-color: #6F1E51;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px; }
      .modo-recomendado .reto.reto-diario .iniciar-reto {
        background-color: #1B1464; }
    .modo-recomendado .reto.reto-semanal {
      border-left: 2px solid #ED4C67;
      background-color: #1B1464;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px; }
      .modo-recomendado .reto.reto-semanal .iniciar-reto {
        background-color: #6F1E51; }

@media (max-width: 850px) {
  .menu {
    top: 88%;
    bottom: 0;
    left: 0;
    transform: none;
    flex-direction: row;
    justify-content: space-evenly;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0; }
    .menu li a {
      font-size: 1.125rem; }
      .menu li a span {
        display: block;
        font-size: 1rem;
        font-weight: 100; } }
.tablero {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background: rgba(255, 255, 255, 0.25);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30px repeat(6, 1fr);
  gap: 10px; }
  .tablero .informacion-tablero {
    grid-column: span 12;
    border-bottom: 1px solid #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff; }
    .tablero .informacion-tablero .tiempo-tablero {
      display: flex;
      justify-content: center; }
  .tablero .carta {
    grid-column: span 2;
    grid-row: span 3;
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s ease;
    animation-name: rotacion;
    animation-duration: 250ms;
    animation-iteration-count: 5;
    animation-timing-function: linear;
    transform: rotateY(0deg); }
    .tablero .carta .lado {
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      position: absolute;
      border: 5px solid #6F1E51;
      border-radius: 10px;
      cursor: pointer; }
      .tablero .carta .lado.frente {
        background: yellow;
        transform: rotateY(180deg); }
      .tablero .carta .lado.atras {
        background: #B53471;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center; }
        .tablero .carta .lado.atras .ovalo {
          background-color: #6F1E51;
          height: 60%;
          width: 50%;
          margin: auto;
          border-radius: 50%;
          backface-visibility: hidden; }

@keyframes rotacion {
  0% {
    transform: rotateX(0deg) rotateY(0deg); }
  100% {
    transform: rotateX(0deg) rotateY(360deg); } }

/*# sourceMappingURL=main.css.map */
